@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --red:#ff5a3c;
    --light-red:#e2d2cf;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    --webkit-scroll-padding-top: 7rem;
}

body{
    background:#f7f7f7;
}

.app__container{
    padding: 0 4px;
}

.wrapper{
    overflow: hidden;
}

section{
    padding-top: 100px;
}

.btn{
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.6rem;
    color: var(--red);
    background: var(--light-red);
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    background: var(--red);
    color:#fff;
}

.heading-content{
    text-align: center;
    color: #333;
    font-size: 4rem;
    padding-bottom: 30px;
}

.heading-content span{
    color: var(--red);
    background: var(--light-red);
    border-radius: 5px;
    padding: 2px 15px;
}